*{
    padding: 0;
    margin: 0;
}


body{

   font-family: Arial, Helvetica, sans-serif;
   font-weight: 700;
   overflow-x: hidden;
   height: 100vh;
}

/* Targetting container */

#container{
     height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr) ;
    grid-template-rows: 100px auto 100px;

}

/* Targetting header */
.header{

    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left,#1f1418,rgb(90, 46, 126),#111314);
    border-bottom: 4px solid rgba(255, 255, 255, 0.589);
    box-shadow: 0px 15px 30px rgba(0, 0, 0, .25);
    color: white;
    font-style: italic;
}

/* Targetting menu */
.menu{

    background:  linear-gradient(to left,#000000,rgb(107, 9, 187),#111314);
    grid-column: 1/3;
    border-right: 4px solid rgba(255, 255, 255, 0.596);
}

/* Unoder list */
ul{

  list-style: none;  
   box-shadow: 10px 15px 30px rgba(0, 0, 0, .25);
    
}

li{
    padding-left: 1em;
    padding-bottom: 2em;
    padding-top: 1em;
    text-align: justify;
    font-style: italic;
    border-bottom: 2px solid rgba(0, 0, 0, 0.555);
    border-top: 2px solid rgba(255, 255, 255, 0.363);
    box-shadow: 10px 15px 30px rgba(0, 0, 0, .25);
    color: white;
    transition: .5s;
}



/* Hovering list */
.tab li:hover {
    cursor: pointer;
    border: 2px solid rgba(84, 42, 122, 0.473);
   
  }

  /* making the tab list active */
.tab li.active {
    background-color: rgba(11, 50, 77, 0.918);
  }
 
/* Targetting content */
.content{

    background: rgb(136, 136, 136);
    grid-column: 3/-1;
}

/* Targetting the .inner-content */
.inner-content{
    display: grid;
    grid-template-rows: repeat(1,2fr);
    margin-top: 3rem;
    margin-left: 2em;
    margin-right: 5rem;
    background: white;
    box-shadow: 10px 15px 30px rgba(0, 0, 0, .25);
    border: 3px solid rgba(0, 0, 0, 0.808);
    border-radius: 10px;
  
}

/* Targetting  Buttons  */

#button-2{

    background:linear-gradient(100deg,#7c1161f6,rgba(81, 12, 138, 0.308),#aa161696);
   
}
#button-3{

    background: red;
   
}
#button-4{
  background: blue;
   
}

p{

text-align: justify;
font-style: italic;
padding: 50px 30px 10px;

}

.btn-text-2,.btn-text-3,.btn-text-4{
color:white;

}


h1{

    text-align: center;
}

/*  Targetting the footer */
.footer{
    border-top: 4px solid rgba(255, 255, 255, 0.74);
    background: rgb(0, 0, 0);
    grid-column: 1/-1;
    
}